# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Variables de entorno
.env
*.env

# IDEs
.vscode/
.idea/
*.DS_Store

# Logs
*.log

# residuo microservicio
bikes-service/
